.outTeam__card {
  animation: animateOnLodeScale 700ms ease-in;
  border-radius: 15px;
  margin: 15px;
  background-color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
  min-width: 260px;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 400ms ease-in-out;
}
.outTeam__card:hover {
  transform: scale(1.04);
}
.outTeam__cardImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 25px auto 20px auto;
  display: block;
}
.outTeam__cardName {
  font-size: 1.2em;
  font-weight: bold;
}
.outTeam__cardTitle {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 1.1rem;
  color: rgba(4, 6, 7, 0.61);
  text-transform: capitalize;
}
.outTeam__cardDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.outTeam__cardDetails i {
  cursor: pointer;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.4s;
}

.outTeam__cardDetails i:hover {
  color: #62b0d1;
  transform: scale(1.2);
}
.teamCard__link {
  textdecoration: none;
  color: inherit;
}
