.homeBox {
    background-image: url("./1.png");
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
    background-size: auto;
    // background-color: #23aaf2bb;
    margin-bottom: 5em;
    > .homeBox__main {
        padding: 100px 20px 100px 20px;
        > h2 {
            margin-bottom: 30px;
        }
        > p {
            max-width: 30em;
        }
    }
}
