@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.aboutUs__container {
    margin-top: 40px;
    padding: 40px 0px;
    > p {
        font-family: "Merriweather", serif;
        letter-spacing: 0.12px;
        word-spacing: 3px;
        line-height: 2rem;
    }
    > div {
        display: flex;
        justify-content: space-between;
        > ul {
            margin-top: 30px;
            margin-left: 40px;
            > li {
                font-family: "Merriweather", serif;
                letter-spacing: 0.12px;
                word-spacing: 3px;
                line-height: 2rem;
            }
        }
        > div {
            padding: 20px;
            background-color: whitesmoke;
            margin-right: 50px;
            border-radius: 10px;
            img {
                border-radius: 10px;
            }
        }
    }
}
