.aboutBanner__img {
    height: 24rem;

    background: url("../../../public/img/about-main-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        > h1 {
            color: white;
        }
    }
}
