.container1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*align-items: center;*/
    background-color: #ebf6fa;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}

.whatistbif {
  margin-left: 20px;
  margin-right: 60px;
  text-align: center;
  text-shadow: 5px;
}

.start {
  justify-content: center;
  margin-left: 20px;
  margin-right: 60px;
  color: #000000;
  font-weight: 500;
}

.bullets {
  margin-left: 20px;
  margin-right: 60px;
  font-weight: 500;
}

.info {
  margin-left: 20px;
  margin-right: 60px;
  font-weight: 500;
}

.bullets > ul {
  list-style-type: none;
}

.bullets > ul > li:before {
  content: "✔ ";
}

.whatistbif {
  text-shadow: 2px 2px #c8cdd1;
}

@media screen and (max-width: 800px) {
  .whatistbif > h2 {
    font-size: 1.5rem;
  }
  .para {
    font-size: 1rem;
  }
}
/* 375 */
