.contain {
  display: flex;
  margin: 10px 10px 10px 10px;
  width: 350px;
  height: 350px;
  flex-wrap: wrap;
  border-radius: 5px;
  position: relative;
  background-color: white;
  border-color: white;
}

.b1 {
  margin-left: 3px;
}

.b2 {
  margin-left: 3px;
}

.button {
  text-rendering: auto;
  align-items: flex-end;
  cursor: default;
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-radius: 5px;
  position: absolute;
  bottom: 1.5rem;
  right: 3px;
}
