/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* CSS */
body {
  font-family: "Poppins";
}

.work-scope {
  list-style-type: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.187);
  margin: 10px;
  width: fit-content;
  padding: 10px;
  background-color: #0eafc8;
  color: white;
  font-family: "Quicksand";
  font-weight: bold;
}
.work-scope-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#heading {
  text-align: center;
  margin: auto;
  width: fit-content;
  padding: 10px;
  font-family: "Quicksand";
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bolder;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.187);
  background-color: rgb(0, 0, 70);
}

#empanelment {
  font-family: "Poppins";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sub-heading {
  position: relative;
  font-family: "Poppins";
  background-color: #7b7bebf8;
  color: white;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.187);
}

.eligibility {
  font-family: "Quicksand";
  font-weight: bold;
}

.careerBox-0 {
  animation: 500ms ease-out 0s 1 slideInFromRight;
}
.careerBox-1 {
  animation: 500ms ease-out 0s 1.1 slideInFromRight;
}
.careerBox-2 {
  animation: 500ms ease-out 0s 0.8 slideInFromLeft;
}
.careerBox-3 {
  animation: 500ms ease-out 0s 0.9 slideInFromLeft;
}
.careerBox-4 {
  animation: 500ms ease-out 0s 1 slideInFromRight;
}
.careerBox-5 {
  animation: 500ms ease-out 0s 1.1 slideInFromLeft;
}
.careerBox-6 {
  animation: 500ms ease-out 0s 1 slideInFromLeft;
}
.careerBox-7 {
  animation: 500ms ease-out 0s 0.9 slideInFromRight;
}
.careerBox-8 {
  animation: 500ms ease-out 0s 1.2 slideInFromRight;
}
.careerBox-9 {
  animation: 500ms ease-out 0s 0.8 slideInFromLeft;
}
.careerBox-10 {
  animation: 500ms ease-out 0s 1.1 slideInFromRight;
}
.CareerPage__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsiveness */

/* The following code changes the width of the elements of the "Scope of Work" to all equal instead of fit-content */

@media screen and (max-width: 480px) {
  .work-scope {
    width: 70vw;
    margin: 5px;
  }
}
